body {
  margin: 0;
}


.root, html {
  background-color: black;
}


.title {
  width: 100%;
  text-align: center;
  color: white;
  
}

#editor {
  margin-top: 5rem;
  height: 10rem;
  padding: 1rem;
}


#preview-box {
  color: white;
  margin-bottom: 3rem;
}




